<!DOCTYPE html>
<html>
  <head>
    <title class="title">
      WeAreStarters
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet"></head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body class="body">
    <!-- <div class="relative">
      <section class="nav-container">
        <section class="nav-bar-logo">
          <a class="logo-image-container" href="#/">
            <img class="logo-image" src="https://d3mlfyygrfdi2i.cloudfront.net/preview-logo-color.png" alt="">
          </a>
        </section>
        <section class="nav-left">
          <button class="explore-btn">Explore</button>
          <a href="#" class="start-a-project-link">Start a project</a>
        </section>
        <section class="nav-right">
          <button class="search-btn">
            Search <br> <i class="fa fa-search"></i>
          </button>
          <a class="sign-in-link" href="#/login">Sign In</a>
        </section>
      </section>
    </div> -->
    <%= yield %>
  </body>
</html>
